/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 50px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-member {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px
  }
  footer{
    text-align: center;
  }  