body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
  }
  
  .signup-form {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 5px #888888;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
  }
  input[type=reset] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    
  }
  
  input[type=submit]:hover {
    background-color:black;
  }
  input[type=reset]:hover{
    background-color: black;
  }
  