<!DOCTYPE html>
<html>
<head>
  <title>Profile Example</title>
  <style>
    /* CSS styling for profile image */
    #profileImage {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: #512DA8;
      font-size: 35px;
      color: #fff;
      text-align: center;
      line-height: 150px;
      margin: 20px 0;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var firstName = $('#firstName').text();
      var lastName = $('#lastName').text();
      var initials = firstName.charAt(0) + lastName.charAt(0);
      $('#profileImage').text(initials);
    });
  </script>
</head>
<body>
  <span id="firstName">Kalpesh</span>
  <span id="lastName">Singh</span>
  <div id="profileImage"></div>
</body>
</html>
